/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-size: 12px; font-family: Arial, sans-serif; line-height: 1.4; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

html, body { min-height: 100%; width: 100%; position: relative; }

.out { width: 1000px; width: 100%; height: 100%; position: absolute; bottom: 0; left: 0; top: 0; right: 0; overflow: hidden; }

.bottomer { overflow: auto; width: 1000px; padding-bottom: 20px; height: 500px; position: absolute; bottom: 0; left: 0; top: 0; right: 0; height: 100%; width: 100%; }

.topper { position: fixed; background: white; z-index: 10; width: 1000px; overflow: hidden; width: 100%; top: 0; left: 0; right: 0; }
.topper td { background: white; }

.hideme { opacity: 0; visibility: hidden; }

table { border-spacing: 0; border-collapse: collapse; width: 2700px; }
table td { border: 1px solid #bcbdc0; height: 20px; text-align: center; vertical-align: middle; border-right-width: 2px; border-right-color: black; }
table td.Answer-options { width: 400px; text-align: left; }
table td.Question { color: white; text-align: left; color: white; text-transform: uppercase; background: #44825f; }
table td { width: 300px !important; }

.bul { width: 14px; height: 14px; background: #231f20; border-radius: 14px; display: inline-block; position: relative; top: 2px; }

p.Answer-options { padding-left: 5px; }

p.Question { padding-left: 5px; }

p.Answerlong { text-align: left; padding: 4px; }

.k__title { font-weight: bold; font-size: 110%; }
